body{
    background-color: #e6e6ff;
    max-width: 100%;
}

.wall {
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
}
.main{
    padding-left: 20%;
    position: relative;
    width: 100%;
    top: 100px;
}

.head{
    color: #4d4dff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 5%;
    line-height: 40px;
}

.searcher{
    width: 60%;
    height: 50px;
    border: none;
    background-color: #4d4dff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px #606E92;
}

#request{
    width: 60%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;   
}

#myButton{
    background-color: white;
    border-radius: 8px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.table{
    width: 60%;
    box-shadow: 1px 1px 15px #606E92;
    border-radius: 8px;
    background-color: white;
}
.table_body{
    width: 100%;
}

.table_header{
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    color: #4d4dff;
    padding: 5px 5px;
}

.items{
    justify-content: space-between;
}

.item{
    padding: 5%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: solid;
}

.parametrs{
    padding: 5%;
    display: flex;
    color: white;
    font-weight: 400;
    background-color: #4d4dff;
    justify-content: space-between;
}

.inn{
    display: flex;
    text-align: center;
    padding: auto;
    font-size: 20px;  
    font-weight: 400;
    align-items: center;
}

.btn{
    padding: 5%;
    color: #4d4dff;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-size: 20px;  
    font-weight: 400;
    cursor: pointer; 
    transition: 1s;
    box-shadow: 1px 1px 5px #606E92;
    
}

.btn:hover{
    transform: scale(1.2)
}

.load_more{
    width: 100%;
    padding: 5%;
    font-size: 20px;  
    font-weight: 400;
    color: white;
    background-color: #4d4dff;
    border: none;
}